In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [2]:
2 + 9

11

In [3]:
2 * 9

18

In [4]:
2 / 9

0.2222222222222222

In [5]:
2 + 3 * 9

29

In [6]:
(2 + 3) * 9

45

In [7]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

16

In [8]:
'hello'

'hello'

## Names ##

In [9]:
a = 4

In [10]:
a

4

In [11]:
b = 9

In [12]:
b

9

In [13]:
a * 3

12

In [14]:
total = a + b

In [15]:
total

13

In [16]:
a = 10

In [17]:
total

13

In [18]:
total = a + b

In [19]:
total

19

In [20]:
'total'

'total'

### Why Names?

In [21]:
# Option 1
40 * 14.00

560.0

In [22]:
40 * 52 * 14.00

29120.0

In [23]:
# Option 2
ca_hourly_minimum_wage = 14.00
hours_per_week = 40
weeks_per_year = 52

In [24]:
hours_per_year = hours_per_week * weeks_per_year

In [25]:
hours_per_year

2080

In [26]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

560.0

In [27]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

29120.0

## Functions and Call Expressions

In [28]:
abs(-5)

5

In [29]:
abs(1 - 3)

2

In [30]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

5

In [31]:
min(14, 15)

14

In [32]:
round(123.456)

123

In [33]:
round(123.456, 1)

123.5

In [34]:
round(123.456, ndigits=1)

123.5

## Tables ##

In [35]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [36]:
cones.show(3)

In [37]:
cones.show()

In [38]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [39]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [40]:
cones.select(Flavor, 'Price')

NameError: name 'Flavor' is not defined

In [41]:
cones.drop('Price')

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [42]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [43]:
cones_without_price = cones.drop('Price')
cones_without_price

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [44]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [45]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [46]:
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [47]:
cones.sort('Flavor', descending=True)

Flavor     | Color       | Price
strawberry | pink        | 3.55
strawberry | pink        | 5.25
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

### A more interesting table

In [48]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [49]:
point_guards = nba.where('POSITION', 'PG')

In [50]:
point_guards

PLAYER          | POSITION | TEAM              | SALARY
Jeff Teague     | PG       | Atlanta Hawks     | 8
Dennis Schroder | PG       | Atlanta Hawks     | 1.7634
Avery Bradley   | PG       | Boston Celtics    | 7.73034
Isaiah Thomas   | PG       | Boston Celtics    | 6.91287
Marcus Smart    | PG       | Boston Celtics    | 3.43104
Terry Rozier    | PG       | Boston Celtics    | 1.82436
Jarrett Jack    | PG       | Brooklyn Nets     | 6.3
Shane Larkin    | PG       | Brooklyn Nets     | 1.5
Kemba Walker    | PG       | Charlotte Hornets | 12
Brian Roberts   | PG       | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [51]:
point_guards.drop('POSITION')

PLAYER          | TEAM              | SALARY
Jeff Teague     | Atlanta Hawks     | 8
Dennis Schroder | Atlanta Hawks     | 1.7634
Avery Bradley   | Boston Celtics    | 7.73034
Isaiah Thomas   | Boston Celtics    | 6.91287
Marcus Smart    | Boston Celtics    | 3.43104
Terry Rozier    | Boston Celtics    | 1.82436
Jarrett Jack    | Brooklyn Nets     | 6.3
Shane Larkin    | Brooklyn Nets     | 1.5
Kemba Walker    | Charlotte Hornets | 12
Brian Roberts   | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [52]:
point_guards

PLAYER          | POSITION | TEAM              | SALARY
Jeff Teague     | PG       | Atlanta Hawks     | 8
Dennis Schroder | PG       | Atlanta Hawks     | 1.7634
Avery Bradley   | PG       | Boston Celtics    | 7.73034
Isaiah Thomas   | PG       | Boston Celtics    | 6.91287
Marcus Smart    | PG       | Boston Celtics    | 3.43104
Terry Rozier    | PG       | Boston Celtics    | 1.82436
Jarrett Jack    | PG       | Brooklyn Nets     | 6.3
Shane Larkin    | PG       | Brooklyn Nets     | 1.5
Kemba Walker    | PG       | Charlotte Hornets | 12
Brian Roberts   | PG       | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [53]:
point_guards = point_guards.drop('POSITION')

In [54]:
point_guards.sort('SALARY', descending=True).show()

In [55]:
point_guards.sort('SALARY', descending=True).show(15)

In [56]:
nba.drop('POSITION').where('POSITION', 'PG')

ValueError: label "POSITION" not in labels ('PLAYER', 'TEAM', 'SALARY')