In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 6

## Table Review: Welcome Survey

In [2]:
# Table consists only of those who answered all 7 questions

welcome = Table.read_table('welcome_survey_fa21.csv')
welcome.show(5)

In [3]:
# Largest number of textees (daily average)
max(welcome.column('Number of textees'))

100

In [4]:
welcome.where('Number of textees', are.equal_to(100))

Year   | Extraversion | Number of textees | Hours of sleep | Handedness   | First pant leg     | Sleep position
Second | 10           | 100               | 7              | Right-handed | Right leg in first | On your right side

In [5]:
# How many students get at least 8 hours of sleep each night (on average)?
welcome.where('Hours of sleep', are.above_or_equal_to(8)).num_rows

396

In [6]:
# average hours of sleep
np.average(welcome.column('Hours of sleep'))

7.0426691729323307

In [7]:
# On average, how long do side-sleepers sleep?
side_sleepers = welcome.where('Sleep position', are.containing('side'))
np.average(side_sleepers.column('Hours of sleep'))

7.0288079470198674

In [8]:
# Proportion of side-sleepers
welcome.where('Sleep position', are.containing('side')).num_rows / welcome.num_rows

0.5676691729323309

In [9]:
# Create a table with only the two sleep-related columns, 
# with names 'Hours' and 'Position'
two_col = welcome.select('Hours of sleep', 'Sleep position')
sleep = two_col.relabeled('Hours of sleep', 'Hours').relabeled('Sleep position', 'Position')
sleep.show(3)

In [ ]:
# Second way
two_col_new = welcome.select('Hours of sleep', 'Sleep position')
sleep_new = two_col_new.relabeled(0, 'Hours').relabeled(1, 'Position')
sleep_new.show(3)

## Discussion Question: NBA Salaries

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba = nba.relabeled(3, 'SALARY').drop('TEAM')
nba.show(3)

In [ ]:
# Question (a)
guards = nba.where('POSITION', 'PG')
guards.where('SALARY', are.above(15)).column('PLAYER')

In [ ]:
# Question (b)
nba.drop('POSITION')
nba.num_columns

## Census ##

In [ ]:
full = Table.read_table('nc-est2019-agesex-res.csv')
full

In [ ]:
partial = full.select('SEX', 'AGE', 'POPESTIMATE2014', 'POPESTIMATE2019')
partial.show(5)

In [ ]:
us_pop = partial.relabeled(2, '2014').relabeled(3, '2019')
us_pop.show(5)

In [ ]:
us_pop.where('AGE', are.above_or_equal_to(100)).sort('AGE')

## 2019 Sex Ratios ##

In [ ]:
us_pop_2019 = us_pop.drop('2014')
us_pop_2019.show(3)

In [ ]:
all_ages = us_pop_2019.where('AGE', are.equal_to(999))
all_ages

In [ ]:
infants = us_pop_2019.where('AGE', are.equal_to(0))
infants

In [ ]:
females_all_rows = us_pop_2019.where('SEX', are.equal_to(2))
females = females_all_rows.where('AGE', are.not_equal_to(999))
females.show(3)

In [ ]:
males_all_rows = us_pop_2019.where('SEX', are.equal_to(1))
males = males_all_rows.where('AGE', are.not_equal_to(999))
males.show(3)

In [ ]:
f_to_m_ratios = females.column(2) / males.column(2)

ratios = Table().with_columns(
    'Age', females.column('AGE'),
    'F:M Ratio', f_to_m_ratios
)

ratios

In [ ]:
ratios.sort('Age', descending=True)

## Line Plot ##

In [ ]:
ratios.plot('Age', 'F:M Ratio')

## Optional: Adding a Title to a Plot ##

In [ ]:
ratios.plot('Age', 'F:M Ratio')
plots.title('2019 US Population');

## Optional: set_format and PercentFormatter ##

In [ ]:
infants

In [ ]:
total_infants_2019 = infants.column('2019').item(0)
total_infants_2019

In [ ]:
infants = infants.with_column(
    'Proportion', infants.column('2019')/total_infants_2019
)
infants

In [ ]:
# A more easily readable display
# Displays proportions as percents
infants.set_format('Proportion', PercentFormatter)

In [ ]:
# Once the format is set, it remains.
infants