In [1]:
from datascience import *
import numpy as np
import matplotlib
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Datasets

In [2]:
ckd = Table.read_table('ckd.csv')
ckd = ckd.relabeled('Blood Glucose Random', 'Glucose').select('Glucose', 'Hemoglobin', 'White Blood Cell Count', 'Class')

In [3]:
patients = Table.read_table('breast-cancer.csv').drop('ID')
patients.show(5)

## Distance ##

In [4]:
def distance(pt1, pt2):
    """Return the distance between two points that are represented as arrays"""
    return np.sqrt(sum((pt1 - pt2)**2))

In [5]:
def row_distance(row1, row2):
    """Return the distance between two numerical rows of a table"""
    return distance(np.array(row1), np.array(row2))

# The Classifier

In [6]:
def distances(training, example):
    """
    Compute distance between example and every row in training.
    Return training augmented with Distance column
    """
    distances = make_array()
    attributes_only = training.drop('Class')
    
    for row in attributes_only.rows:
        distances = np.append(distances, row_distance(row, example))
                
    return training.with_column('Distance_to_ex', distances)

In [7]:
def closest(training, example, k):
    """
    Return a table of the k closest neighbors to example
    """
    return distances(training, example).sort('Distance_to_ex').take(np.arange(k))

In [8]:
attributes = patients.drop('Class')
example = attributes.row(21)
closest(patients.exclude(21), example, 5)

Clump Thickness | Uniformity of Cell Size | Uniformity of Cell Shape | Marginal Adhesion | Single Epithelial Cell Size | Bare Nuclei | Bland Chromatin | Normal Nucleoli | Mitoses | Class | Distance_to_ex
8               | 4                       | 4                        | 5                 | 4                           | 7           | 7               | 8               | 2       | 0     | 4.3589
10              | 5                       | 7                        | 4                 | 4                           | 10          | 8               | 9               | 1       | 1     | 4.47214
7               | 4                       | 4                        | 3                 | 4                           | 10          | 6               | 9               | 1       | 1     | 5.09902
10              | 3                       | 6                        | 2                 | 3                           | 5           | 4               | 10              | 2       | 1     | 5.38516
10              | 5                       | 5                        | 6                 | 3                           | 10          | 7               | 9               | 2       | 1     | 5.38516

In [9]:
closest(patients.exclude(21), example, 5).group('Class').sort('count', descending=True)

Class | count
1     | 4
0     | 1

In [10]:
def majority_class(topk):
    """
    Return the class with the highest count
    """
    return topk.group('Class').sort('count', descending=True).column(0).item(0)

In [11]:
def classify(training, example, k):
    """
    Return the majority class among the 
    k nearest neighbors of example
    """
    return majority_class(closest(training, example, k))

In [12]:
classify(patients.exclude(21), example, 5)

1

In [13]:
patients.take(21)

Clump Thickness | Uniformity of Cell Size | Uniformity of Cell Shape | Marginal Adhesion | Single Epithelial Cell Size | Bare Nuclei | Bland Chromatin | Normal Nucleoli | Mitoses | Class
10              | 5                       | 5                        | 3                 | 6                           | 7           | 7               | 10              | 1       | 1

In [14]:
new_example = attributes.row(10)
classify(patients.exclude(10), new_example, 5)

0

In [15]:
patients.take(10)

Clump Thickness | Uniformity of Cell Size | Uniformity of Cell Shape | Marginal Adhesion | Single Epithelial Cell Size | Bare Nuclei | Bland Chromatin | Normal Nucleoli | Mitoses | Class
1               | 1                       | 1                        | 1                 | 1                           | 1           | 3               | 1               | 1       | 0

In [16]:
another_example = attributes.row(15)
classify(patients.exclude(15), another_example, 5)

0

In [17]:
patients.take(15)

Clump Thickness | Uniformity of Cell Size | Uniformity of Cell Shape | Marginal Adhesion | Single Epithelial Cell Size | Bare Nuclei | Bland Chromatin | Normal Nucleoli | Mitoses | Class
7               | 4                       | 6                        | 4                 | 6                           | 1           | 4               | 3               | 1       | 1

## Review of the Steps ##

- `distance(pt1, pt2)`: Returns the distance between the arrays `pt1` and `pt2`
- `row_distance(row1, row2)`: Returns the distance between the rows `row1` and `row2`
- `distances(training, example)`: Returns a table that is `training` with an additional column `'Distance'` that contains the distance between `example` and each row of `training`
- `closest(training, example, k)`: Returns a table of the rows corresponding to the k smallest distances 
- `majority_class(topk)`: Returns the majority class in the `'Class'` column
- `classify(training, example, k)`: Returns the predicted class of `example` based on a `k` nearest neighbors classifier using the historical sample `training`

## Accuracy of a Classifier ##

In [18]:
patients.num_rows

683

In [19]:
shuffled = patients.sample(with_replacement=False) # Randomly permute the rows
training_set = shuffled.take(np.arange(342))
test_set  = shuffled.take(np.arange(342, 683))

In [20]:
def evaluate_accuracy(training, test, k):
    """Return the proportion of correctly classified examples 
    in the test set"""
    test_attributes = test.drop('Class')
    num_correct = 0
    for i in np.arange(test.num_rows):
        c = classify(training, test_attributes.row(i), k)
        num_correct = num_correct + (c == test.column('Class').item(i))
    return num_correct / test.num_rows

In [21]:
evaluate_accuracy(training_set, test_set, 5)

0.9648093841642229

In [22]:
evaluate_accuracy(training_set, test_set, 3)

0.9648093841642229

In [23]:
evaluate_accuracy(training_set, test_set, 11)

0.9648093841642229

In [24]:
evaluate_accuracy(training_set, test_set, 1)

0.9618768328445748

# Standardize if Necessary

In [25]:
def standard_units(x):
    return (x - np.average(x)) / np.std(x)

In [26]:
ckd_new = ckd.select('Class').with_columns(
    'Glucose_su', standard_units(ckd.column('Glucose')),
    'Hemoglobin_su', standard_units(ckd.column('Hemoglobin')),
    'WBC_su', standard_units(ckd.column('White Blood Cell Count'))
)

In [27]:
ckd_new

Class | Glucose_su | Hemoglobin_su | WBC_su
1     | -0.221549  | -0.865744     | -0.569768
1     | -0.947597  | -1.45745      | 1.16268
1     | 3.84123    | -1.00497      | -1.27558
1     | 0.396364   | -2.81488      | 0.809777
1     | 0.643529   | -2.08395      | 0.232293
1     | -0.561402  | -1.35303      | -0.505603
1     | 2.04928    | -0.413266     | 0.360623
1     | -0.947597  | -1.28342      | 3.34429
1     | 1.87936    | -1.10939      | -0.409356
1     | 0.489051   | -1.35303      | 1.96475
... (148 rows omitted)

In [28]:
shuffled = ckd_new.sample(with_replacement=False) 
training_set = shuffled.take(np.arange(74))
test_set  = shuffled.take(np.arange(74, 148))

In [29]:
evaluate_accuracy(training_set, test_set, 3)

0.9594594594594594

In [30]:
shuffled = ckd.sample(with_replacement=False) 
training_set = shuffled.take(np.arange(74))
test_set  = shuffled.take(np.arange(74, 148))

In [31]:
evaluate_accuracy(training_set, test_set, 3)

0.8108108108108109